name: CI

on:
  push:
    branches:
      - main.
  # pull_request:

jobs:
  check_backend:
    name: Backend – Audit, Lint & Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Installation des dependeances (clean)
        run: npm ci

      - name: Vérification du audit
        run: npm run audit:ci

      - name: Installation de lint
        run: npm run lint

      - name: Test
        run: npm run test:ci

      - name: Control du directory
        run: ls

  check_frontend:
    name: Frontend – Audit, Lint & Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Installation des dependeances (clean)
        run: npm ci

      - name: Vérification du audit
        run: npm run audit:ci

      - name: Installation de lint
        run: npm run lint

  test_e2e:
    runs-on: ubuntu-latest

    needs:
      - check_backend
      - check_frontend
    strategy:
      matrix:
        browser: [chrome, firefox, edge]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Installation des dependeances (clean)
        working-directory: backend
        run: npm ci

      - name: Installation des dependeances (clean)
        working-directory: frontend
        run: npm ci

      - name: Start backend API
        working-directory: backend
        run: |
          npm run start:e2e &
          echo "Waiting for backend on http://localhost:3000/health ..."
          for i in {1..10}; do
            if curl -sSf http://localhost:3000/health > /dev/null; then
              echo "Backend is up !"
              exit 0
            fi
            echo "Still waiting..."
            sleep 2
          done
          echo "Backend did not start in time !"
          exit 1

      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npm run build:test
          start: npm run preview:test
          wait-on: "http://localhost:4173"
          browser: ${{ matrix.browser }}
          wait-on-timeout: 60
          config: baseUrl=http://localhost:4173
# gbrbgb
