name: CI TEST - Todo App

on:
  push:
    branches:
      - main

jobs:
  # =========================
  # BACKEND – AUDIT
  # =========================
  check_backend:
    name: Backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install backend dependencies
        run: npm ci

      - name: Run npm audit (backend)
        run: npm run audit:ci

      - name: Run ESLint (backend)
        run: npm run lint

      - name: Run backend integration tests
        run: npm run test:ci

  # # =========================
  # # BACKEND – LINT
  # # =========================
  # backend-lint:
  #   name: Backend - Linting
  #   runs-on: ubuntu-latest
  #   needs: backend-audit
  #   defaults:
  #     run:
  #       working-directory: backend

  #   steps:
  #     - uses: actions/checkout@v4

  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 22

  #     - name: Audit packages
  #       run: npm run audit:ci

  # # =========================
  # # BACKEND – TESTS D’INTÉGRATION
  # # =========================
  # backend-tests:
  #   name: Backend - Tests d’intégration API
  #   runs-on: ubuntu-latest
  #   needs: backend-lint

  #   steps:
  #     - uses: actions/checkout@v4

  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 22
  #         cache: npm
  #         cache-dependency-path: backend/package-lock.json

  #     - name: Install backend dependencies
  #       run: npm install
  #       working-directory: backend

  #       working-directory: backend

  # =========================
  # FRONTEND – AUDIT
  # =========================
  check_frontend:
    name: Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install frontend dependencies
        run: npm ci

      - name: Run npm audit (frontend)
        run: npm run audit:ci

      - name: Run ESLint (frontend)
        run: npm run lint

    # =========================
    # FRONTEND – LINT
    # =========================
    # frontend-lint:
    #   name: Frontend - Linting
    #   runs-on: ubuntu-latest
    #   needs: frontend-audit

    #   steps:
    #     - uses: actions/checkout@v4

    #     - uses: actions/setup-node@v4
    #       with:
    #         node-version: 22
    #         cache: npm
    #         cache-dependency-path: frontend/package-lock.json

    #     - name: Install frontend dependencies
    #       run: npm install
    #       working-directory: frontend

    # =========================
    # FRONTEND – TESTS E2E (CYPRESS)
    # =========================
  frontend-e2e:
    name: Frontend - Tests E2E (Cypress)
    runs-on: ubuntu-latest
    needs:
      - check_frontend
      - check_backend

    strategy:
      matrix:
        browser: [chrome, firefox, edge]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      # -------------------------
      # BACKEND (E2E)
      # -------------------------
      - name: Install backend dependencies
        working-directory: backend
        run: npm ci

      - name: Install backend dependencies
        working-directory: frontend
        run: npm ci

      - name: Start backend API
        working-directory: backend
        run: |
          npm run start:e2e &
          echo "Waiting for backend on http://localhost:3000/health ..."
          for i in {1..10}; do
            if curl -sSf http://localhost:3000/health > /dev/null; then
              echo "Backend is up !"
              exit 0
            fi
            echo "Still waiting..."
            sleep 2
          done
          echo "Backend did not start in time !"
          exit 1

      # -------------------------
      # FRONTEND + CYPRESS
      # -------------------------
      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npm run build:test
          start: npm run preview:test
          wait-on: "http://localhost:4173"
          wait-on-timeout: 60
          browser: ${{ matrix.browser }}
          config: baseUrl=http://localhost:4173
